{% extends "base.html" %}{% load crispy_forms_tags %}
<title>{% block titulo %}outletCar{% endblock %}</title>
	{% block css %}
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-min.css">
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	{% load static %}
		<link rel="stylesheet" href="{% static 'css/layouts/añadirCoches.css' %}">
		<link rel="stylesheet" href="{% static 'css/layouts/gallery.css' %}">
	{% endblock %}

    


	{% block contenido %}
	
	{% load i18n %}

	<form action="{% url 'set_language' %}" method="post">
    	{% csrf_token %}
    	<input name="next" type="hidden" value="{{ redirect_to }}" />
    	<select name="language">
        	{% get_current_language as LANGUAGE_CODE %}
        	{% get_available_languages as LANGUAGES %}
        	{% for lang in LANGUAGES %}
            	<option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                	{{ lang.1 }} ({{ lang.0 }})
            	</option>
        	{% endfor %}
    	</select>
    	<input type="submit" value="Go" />
	</form>

	
    <form id="post_form" method="POST" action="" style="margin-top: 1.3em;" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-row">
			<div class="form-group col-md-6 mb-0">
				{{ form.as_p }}
				{{formset.as_p}}
			</div>
		</div>		
		<button type="submit" class="btn btn-primary  btn-lg">Submit</button>
		

		


    </form>
{% endblock contenido%}
 