





{% extends "base.html" %}{% load crispy_forms_tags %}

{% block titulo %}Detalles del coce{% endblock %}

{% block contenido %}
<div class="posts">
    <h1 class="content-subhead">{% block modelo %} {{ coche.modelo.marca }}|{{coche.modelo}} {% endblock modelo %}</h1>
    {% if coche %}
        <section class="post">
            {% if coche.fotoCoche %}
                {% load static %}
                
                <img alt="{{ coche.fotoCoche.fotoCoche }}" class="post-avatar" src="{% static coche.fotoCoche.fotoCoche %}" />
               
            {% endif %}
            <header class="post-header">
                <h2 class="post-title">{{ coche.modelo }}</h2>
                <p class="post-meta">{{ coche.marca }}</p>
            </header>
            <div class="post-description">
                <p>{{ coche.descripcion }}</p>
            </div>
        </section>
    {% else %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">No existe este post.</h2>
                <p class="post-meta">No existe este post.</p>
            </header>
            <div class="post-description">
                <p>No existe este post.</p>
            </div>
        </section>
    {% endif %}





    <div class="col-md-8 card mb-4  mt-3 ">
        <div class="card-body">
          <!-- comments -->
          {% with comments.count as total_comments %}
          <h2>{{ total_comments }} comments</h2>
  
          <p>
            {% endwith %} {% for comment in comments %}
          </p>
  
          <div class="comments" style="padding: 10px;">
            <p class="font-weight-bold">
              {{ comment.name }}
              <span class=" text-muted font-weight-normal">
                {{ comment.created_on }}
              </span>
            </p>
            {{ comment.body | linebreaks }}
          </div>
  
          {% endfor %}
        </div>
      </div>
      <div class="col-md-8 card mb-4  mt-3 ">
        <div class="card-body">
          {% if new_comment %}
          <div class="alert alert-success" role="alert">
            Your comment is awaiting moderation
          </div>
          {% else %}
          <h3>Leave a comment</h3>
          <form method="post" style="margin-top: 1.3em;">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
</div>

{% endblock %}