{% load crispy_forms_tags %}
{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top ">
      <div class="card-body">
      	<h1>{% block modelo %} {{ coche.modelo.marca }}|{{coche.modelo}} {% endblock modelo %}</h1>
        <p class=" text-muted">{{ coche.precio }}</p>
        <img src="{{ coche.fotoCoche.url }}">
        <p class="card-text ">{{ coche.comentario | safe }}</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}