{% extends 'base.html' %}{% load static %}{% load bootstrap %}
{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <link rel="stylesheet" href="{% static 'css/layouts/datos.css' %}">
    <link rel="stylesheet" href="{% static 'css/layouts/about-us.css' %}">
    <link rel="stylesheet" href="{% static 'css/layouts/framework.css' %}">
{% endblock css %}
    
{% block contenido %}

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body align="center">

<!-- Page content -->
<div class="w3-content" style="max-width:100%;">

  <!-- Automatic Slideshow Images -->
  {% load i18n %}
  <div class="mySlides w3-display-container w3-center">
    <img src="../static/img/p1.png" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Jon Soler</h3>
      <p><b> {% trans "¡El mejor negocio de mi vida!" %}</b></p>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="../static/img/p2.png" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Ana y Mario</h3>
      <p><b>{% trans "No hemos encontrado precios tan bajos en ningun otro sitio." %}</b></p>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="../static/img/p3.png" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Sergio</h3>
      <p><b>{% trans "Una web con infinita variedad de coches." %}</b></p>
    </div>
  </div>

  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">{% trans "¿Quienes somos?" %}</h2>
    <p class="w3-opacity"><i>outlet Car</i></p>
    <p class="w3-justify">
                        <i><p>{% trans "Bienvenido a outletCar, su fuente número uno para todas las compras y ventas de automoviles. Estamos dedicados a brindarle lo mejor de las compraventas online, con un enfoque en seguridad, fiabilidad y seriedad." %}</p>

                        <p>{% trans "Fundada en 1997 por Asier Moreno, outletCar ha recorrido un largo camino desde sus inicios en Ortuella. Cuando Asier comenzó, su pasión por los diferentes tipos de automoviles le llevaron a dejar el trabajo diario para que outletCar pueda ofrecerle una gran atencion personalizada. Ahora servimos a clientes en toda España, y estamos encantados de poder convertir nuestra pasión en nuestro propio sitio web." %}</p>

                        <p>{% trans "Nosotros esperamos que disfrutes de nuestros productos tanto como yo disfruté ofreciéndolos. Si tiene alguna pregunta o comentario, no dude en comunicarse con nosotros." %}</p>

                        <p>{% trans "Sinceramente," %}</p>

                        <p>Asier Moreno</p></i></p>

    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Eduardo Rodriguez</p>
        <img src="../static/img/er.jpg" class="w3-round w3-margin-bottom" alt="Eduardo Rodriguez" style="width:60%">
        <p>{% trans "Director Financiero" %}</p>
        <p>{% trans "Universidad de Deusto" %}</p>
        <p>{% trans "Licenciado en derecho y economia" %}</p>
        <p>{% trans "Llevo las cuentas y los conceptos legales siempre actualizados con el sueño de que esto no pare de crecer." %}</p>
      </div>
      <div class="w3-third">
        <p>Aitor Bonilla</p>
        <img src="../static/img/ab.png" class="w3-round w3-margin-bottom" alt="Aitor Bonilla" style="width:60%">
        <p>{% trans "Director Marketing" %}</p>
        <p>{% trans "Universidad del Pais Vasco" %}</p>
        <p>{% trans "Licenciado en marketing y direccion comercial" %}</p>
        <p>{% trans "Junto a Mikel Moreno estamos llevando outletCar a otro nivel nunca antes alcanzado." %}</p>
      </div>
      <div class="w3-third">
        <p>Adolfo Cesar Velazquez</p>
        <img src="../static/img/acv.jpg" class="w3-round" alt="Adolfo Cesar Velazquez" style="width:60%">
        <p>{% trans "Director TIC" %}</p>
        <p>{% trans "Universidad de Deusto" %}</p>
        <p>{% trans "Ingeniero en informatica" %}</p>
        <p>{% trans "En cuanto acabé la carrera se pusieron en contacto conmigo, no podia rechazar la oferta de reinvencion de una empresa mitica." %}</p>
      </div>
    </div>
  </div>

  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">{% trans "CONTACTO" %}</h2>
    <p class="w3-opacity w3-center"><i>{% trans "¿Alguna duda? ¡Dejanos tu mensaje!" %}</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Leioa, Vizcaya<br>
        <i class="fa fa-phone" style="width:30px"></i> Tlfn.: +34 699746399<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: outletcar@outletcar.es<br>
      </div>
      <div class="w3-col m6">
        <form action="mailto:outletcar@outletcar.es" method="post" enctype="text/plain">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border w3-text-black" type="text" placeholder={% trans "Nombre" %} required name="Nombre">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border w3-text-black" type="text" placeholder={% trans "Email" %} required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border w3-text-black" type="text" placeholder={% trans "Mensaje" %} required name="Mensaje">
          <button class="w3-button w3-black w3-section w3-right" type="submit">{% trans "MANDAR" %}</button>
        </form>
      </div>
    </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Image of location/map -->
<iframe align="center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23222.186614034596!2d-3.0075652067753977!3d43.319004329140725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf4b62e136d65b0de!2sStopCar!5e0!3m2!1ses!2ses!4v1576262820025!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
{% endblock contenido %}
